html, body{
	
margin:0;
padding:0;
			
	}

body{
background-color:#D9DEDC;
font-family:'Flamenco', cursive;
font-size:15pt;
}

#wrapper{
margin-right:130px;	
background-color: red;
}
	
#wrapper-slide{

background-color:#D9DEDC;

}

#body{

background-color:white;
background-color: #D9DEDC;
padding: 10px;
padding-top:0%;	
text-align:justify;
}

footer{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:10pt;
}

section, article{
border: 1px ;
padding:5px;
margin-left:150px;
}
	
header{
background-color:#7C7159; 
border: 1px ;
padding:10px;
width:300%;
	
		
	}

th ,td{
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:10pt;
border-spacing:20px;
text-align:left;
border-collapse:collapse;
padding:5px;
}


table{
margin: 0px auto;
width:650px;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size:10pt;
border-spacing:20px;
text-align:left;
border-collapse:collapse;
padding:5px;
margin-left:auto; 
margin-right:auto;
}




.slider{
  width: 70%; 
  margin: auto;
}


table, td, th
{
border:1px solid black;
}



